.buttonOff{
-fx-background-color:#cccccc;
-fx-cursor:default;
}
.buttonOn{
-fx-background-color:#33ccaa;
-fx-cursor:hand;
}
.buttonDanger{
 -fx-background-color:#331111;
 -fx-text-fill:#ff0000;
 -fx-cursor:hand;
 }
.buttonUpdate{
-fx-background-color:#ffc200;
-fx-cursor:hand;
}
.buttonDelete{
-fx-background-color:#ff3322;
-fx-cursor:hand;
}
.buttonAdd{
-fx-background-color:#33ccaa;
-fx-cursor:hand;
}
.buttonGet{
-fx-background-color:#00cfdf;
-fx-cursor:hand;
}
.optionSelected{
-fx-background-color:#D3D3D3;
}
.bordaFina{
-fx-border-color:#d3d3d3;
-fx-border-style:solid;
-fx-border-width:2px;
}